.wrapper {
  min-height: 100%;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 64px 80px;
  z-index: 2;
}

.parallax__container > * {
  pointer-events: painted;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.images-parallax__clouds, .images-parallax__mountains, .images-parallax__human, .images-parallax__time-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.images-parallax__clouds {
  background: url("../img/bg-images/clouds-min.jpg") top/cover no-repeat;
  top: -30%;
}

.images-parallax__mountains {
  background: url("../img/bg-images/mountains-min.png") top/cover no-repeat;
  top: 25%;
  z-index: 2;
}

.images-parallax__time-shadow {
  opacity: 0.75;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: linear-gradient(330deg, transparent 31%, var(--BG) 109%);
}

.images-parallax__human {
  background: url("../img/bg-images/human-min.png") top/cover no-repeat;
  top: 55%;
  z-index: 3;
}

@media (max-aspect-ratio: 3 / 2) {
  .images-parallax__human {
    background-position: 20% top;
  }
}

.content {
  --shadow-size: 430px;
  margin-top: 30%;
  position: relative;
  background-color: var(--BG);
  z-index: 2;
  padding-bottom: 120px;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--shadow-size);
  pointer-events: none;
  -webkit-transform: translate(0, -99%);
          transform: translate(0, -99%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(95%, var(--BG)));
  background: linear-gradient(180deg, transparent 0%, var(--BG) 95%);
}

.content main {
  -webkit-transform: translateY(calc(var(--shadow-size) / 2.3 * -1));
          transform: translateY(calc(var(--shadow-size) / 2.3 * -1));
}
