@media (max-width: 1400px) {
	p,
	a {
		font-size: 13px;
	}

	h2 {
		font-size: 40px;
	}

	.article {
		&__image {
			width: 40%;
			height: 620px;
		}
		&__text {
			max-width: 35em;
		}
		.flag {
			font-size: calc(1em - 3px);
		}
	}
}

@media (max-width: 1024px) {
	.conteiner {
		--padding: 30px;
	}
	h1 {
		font-size: 70px;
	}

	.article {
		// display: flex;
		flex-direction: column-reverse;
		// justify-content: center;
		&:nth-child(even) {
			flex-direction: column-reverse;
		}
		&__image {
			margin: 0 auto;
			width: 40%;
			height: 520px;
			margin-bottom: 15%;
		}
		&__text {
			max-width: 35em;
		}
		.flag {
			font-size: calc(1em - 3px);
		}
	}
}

@media (max-width: 900px) {
	h1 {
		font-size: 55px;
	}
	.main-title {
		& > *:not(:last-child) {
			margin-bottom: 22px;
		}
	}
	.burger {
		display: block;
	}
	header {
		nav,
		.login {
			display: none;
		}
	}
	.article {
		&__image {
			width: 50%;
			height: 520px;
			// margin-bottom: 15%;
		}
	}
	.footer {
		overflow: hidden;
		.conteiner {
			flex-wrap: wrap;
			flex-direction: column-reverse;
			// margin-top: -25%;
		}
		&__colum {
			margin-right: 0;
			&:first-child {
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				width: 100vw;
				margin-top: 2em;
			}
			.footer__wy {
				margin-left: auto;
				margin-right: 5em;
			}
			.logo,
			p {
				margin: 0;
			}
			p:nth-child(2) {
				display: none;
			}
			&:last-child {
				transform: translate(calc(100vw - 38%), 100%);
			}

			.footer {
				&__title {
					margin-bottom: 0.75em;
				}
			}
		}
	}
}

@media (max-width: 775px) {
	h1 {
		font-size: 40px;
	}
	p.flag {
		font-size: 14px;
	}
	.main-title {
		& > *:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	.article {
		&__image {
			width: 70%;
			height: 480px;
		}
		&__text {
			padding-left: 100px;
			&::before {
				font-size: 30vw;
			}
		}
	}
}

@media (max-width: 550px) {
	.parallax__container {
		padding: 40px 30px;
	}
	h1 {
		font-size: 35px;
	}
	p.flag,
	a {
		font-size: 14px;
	}
	.main-title {
		& > *:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	.article {
		&__image {
			width: 70%;
			// height: 520px;
			margin-bottom: 25%;
		}
		&__text {
			padding-left: 0px;
		}
	}

	.footer {
		&__colum {
			&:first-child {
				width: 100%;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.footer__wy {
					margin: 0;
				}
			}
			&:last-child {
				transform: translate(calc(100vw - 50%), 100%);
			}
		}
	}
}

@media (max-width: 460px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 30px;
	}
	p.flag,
	a {
		font-size: 12px;
	}
	.main-title {
		& > *:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	.article {
		&__text {
			& > *:not(:last-child) {
				margin-bottom: 12px;
			}
			.flag {
				font-size: calc(1em - 6px);
			}
			&::before {
				left: auto;
				right: 0;
			}
		}
		&__image {
			height: 350px;
		}
	}
	.footer {
		&__colum {
			&:not(:first-child) {
				margin-bottom: 3em;
				margin-left: 15%;
			}
			// &:first-child {
			// 	margin-top: 0;
			// }

			&:last-child {
				transform: translate(0, 0);
			}
		}
	}
}
